body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: plum;
}

h1,
h4 {
  text-align: center;
  color: rgb(0, 0, 0);
}

table {
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
  border-collapse: collapse;
  margin-top: -30px;
  box-shadow: 0px 7px 20px 1px black;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.serchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 19%;
}

/* .serchbar>:nth-child(1)>input {
  align-items: center;
  width: 15.5%;
  padding: 9px;
  margin-bottom: -10px;
  margin-left: 18.7%;
  border: 1px solid #ddd;
  background-color: rgb(47, 47, 47);
  color: rgb(255, 255, 255);
} */



.heading {
  background-color: rgb(47, 47, 47);
  color: rgb(255, 255, 255);
}

.one {
  margin: 48px 162px;
}